@use '../../styles.scss';

.page {
    padding: 20px;
    align-items: flex-start;
}

.form {
    display: flex;
    flex-direction: column; 
    width: 80%;
}

.form-content {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
}

.control-btn {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.button-confirm {
    width: 50%;
}