@use '../../../styles.scss';

.form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.profile-top {
    display: flex;
    flex-direction: row; 
    gap: 40px;
    width: 100%;
    justify-content: center;
    // align-items: center;
}

.info-page {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-p {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 280px; 
}

.info-p p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    // margin: 20px 0px 20px 0px;
    width: 100%;  
}

.info-p label {
    min-width: 60px;
    font-weight: 500;
    color: var(--text-secondary);
    justify-content: center;
}

.info-p input {
    flex: 1;
    min-width: 0;
}

.control-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}