@if (isLoading) {
    <div class="page">
        <form class="form" [formGroup]="profileForm" (ngSubmit)="onUpdateUserName()">
            <!-- Верхняя часть: аватар слева, инфо справа -->
            <div class="profile-top">
                <!-- #region Avatar -->
                <app-file-upload></app-file-upload>
                <!-- #endregion -->
                 
                <!-- #region General info -->
                <div class="info-page">
                    <div class="info-p">
                        <p>
                            <label for="login">Login:</label>
                            <input class="input" id="login" formControlName="login" placeholder="Login">
                        </p>
                        <p>
                            <label for="userName">Name:</label>
                            <input class="input" id="userName" name="userName" placeholder="Name"
                                formControlName="userName" [class.error]="profileForm.get('userName')?.invalid && profileForm.get('userName')?.touched">
                            @if (profileForm.get('userName')?.hasError('required') && profileForm.get('userName')?.touched) {
                                <small class="error-message">Поле обязательно!</small>
                            }
                            @if (profileForm.get('userName')?.hasError('minLength') && profileForm.get('userName')?.touched) {
                                <small class="error-message">Минимальное значение 2 символов!</small>
                            }
                        </p>
                        <p>
                            <label for="email">Email:</label>
                            <input class="input" id="email" formControlName="email" placeholder="Email">
                        </p>
                    </div>
                </div>
                <!-- #endregion -->
            </div>

            <!-- #region Кнопки управления (под всем) -->
            <div class="control-btn">
                <button class="button-confirm" type="submit" [disabled]="profileForm.invalid || !isLoading">{{isLoading ?  'Сохранить': 'Сохранение...'}}
                </button>
            </div>
            <!-- #endregion -->
        </form>
    </div>
}
@else {
    <h1>Загрузка...</h1>
}