<div class="general-info-view">
    <div class="info-group">
        <label class="info-label">Login:</label>
            <span class="info-value">{{ userData?.login || '—' }}</span>
    </div>

    <div class="info-group">
        <label class="info-label">Name:</label>
            <span class="info-value">{{ userData?.userName || '—' }}</span>
    </div>

    <div class="info-group">
        <label class="info-label">Email:</label>
            <span class="info-value">{{ userData?.email || '—' }}</span>
    </div>
</div>