<div class="login-page">
    <form class="form" [formGroup]="stepLoginForm" (ngSubmit)="onSubmit()">
        <div class="title">Login</div>

        <input class="input" id="login" name="login" placeholder="Login" type="text" 
            formControlName="login" [class.error]="stepLoginForm.get('login')?.invalid && stepLoginForm.get('login')?.touched">
        @if (stepLoginForm.get('login')?.hasError('required') && stepLoginForm.get('login')?.touched) {
            <small class="error-message">Поле обязательно!</small>
        }
        @if (stepLoginForm.get('login')?.hasError('minLength') && stepLoginForm.get('login')?.touched) {
            <small class="error-message">Минимальное значение 2 символов!</small>
        }

        <button class="button-confirm" type="submit" [disabled]="stepLoginForm.invalid || isLoading">{{isLoading ? 'Поиск...' : 'Найти'}}</button>
    </form>
</div>
