/* Темный фон всей страницы */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: transparent;
  padding: 16px;
}

/* Центральная карточка */
.card {
  width: 320px;
  background-color: #202024;
  border-radius: 12px;
  padding: 32px 24px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); /* лёгкое стекло */
}

/* Заголовок "Вход" */
.title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 32px;
}