// #region Фон и цвета

$color-bg: #1A1A1A;           
$color-bg-card: #111827; 

// #endregion

// #region Текст

$color-text-primary: #f1f5f9;
$color-text-error: #eb1818;
$font-size-text-error: 0.875rem;

// #endregion
