<div class="page">
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="title">Добро пожаловать,<br><span>зарегистрируйтесь, чтобы продолжить</span></div>
        
        <input class="input" id="userName" name="userName" placeholder="UserName" type="text" 
            formControlName="userName" [class.error]="registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched">
        @if (registerForm.get('userName')?.hasError('required') && registerForm.get('userName')?.touched) {
            <small class="error-message">Поле обязательно!</small>
        }
        @if (registerForm.get('userName')?.hasError('minLength') && registerForm.get('userName')?.touched) {
            <small class="error-message">Минимальное значение 2 символов!</small>
        }
        
        <input class="input" id="email" name="email" placeholder="Email" type="text" 
            formControlName="email" [class.error]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        @if (registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched) {
            <small class="error-message">Поле обязательно!</small>
        }
        @if (registerForm.get('email')?.hasError('minLength') && registerForm.get('email')?.touched) {
            <small class="error-message">Минимальное значение 4 символов!</small>
        }

        <input class="input" id="login" name="login" placeholder="Login" type="text" 
            formControlName="login" [class.error]="registerForm.get('login')?.invalid && registerForm.get('login')?.touched">
        @if (registerForm.get('login')?.hasError('required') && registerForm.get('login')?.touched) {
            <small class="error-message">Поле обязательно!</small>
        }
        @if (registerForm.get('login')?.hasError('minLength') && registerForm.get('login')?.touched) {
            <small class="error-message">Минимальное значение 2 символов!</small>
        }

        <input class="input" id="password" name="password" placeholder="Password" type="password" 
            formControlName="password" [class.error]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        @if (registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched){
            <small class="error-message">Поле обязательно!</small>
        }
        @if (registerForm.get('password')?.hasError('minLength') && registerForm.get('password')?.touched){
            <small class="error-message">Минимальное значение 8 символов!</small>
        }

        <button class="button-confirm" type="submit" [disabled]="registerForm.invalid || isLoading">{{isLoading ? 'Регистрация...' : 'Зарегистрироваться'}}</button>

        <p class="signup">
            У вас уже есть аккаунт?
            <a routerLink="/auth" class="" style="margin-left: 5px;">Вход</a>
        </p>
    </form>
</div>
